.scrollbox {
  overflow: auto;
  width: auto !important;
  height: 122px;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}
.scrollbox-grupo {
  overflow: auto;
  width: auto !important;
  height: 150px;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}
.scrollbox_panel {
  overflow: auto;
  width: auto !important;
  height: 465px;
  padding: 10px;
  padding-left: 12px !important;
  padding-top: 0px;
  padding-left: 0px;
}
.scrollbox1 {
  overflow: auto;
  height: 322px !important;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0;
}
.scrollbox2{
  overflow: auto;
  height: 100px !important;
  width: 320px;
}
.scrollbox4{
  overflow: auto;
  height: 178px !important;
  width: 320px !important;
  border: 1px solid #40ADE3;
  border-radius: 5px;
}
.track3 {
  width: 5px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 10px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.track3:hover, .track3.dragging {
  /*background: #d9d9d9;

    background: rgba(0, 0, 0, 0.15);*/
}
.handle3 {
  width: 5px;
  right: 0;
  background: #bababa;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.handle2{
  width: 5px;
  right: 0;
  background: #bababa;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.handle4{
  width: 5px;
  right: 0;
  background: #bababa;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
  margin-top: -60px;
}
.handle5{
  width: 5px;
  height: 56px !important;
  right: 0;
  background: #bababa;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
  margin-right: 6px;
}
.track3:hover .handle3, .track3.dragging .handle3 {
  width: 5px;
}
