<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">EDITAR USUARIO</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login pull-right">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <form id="EditarUsuario">
      <div class="row">
        <div class="col-xs-12 contenedor-input register-container">
          <div class="col-xs-12 contenedor-input top_contenedor">
            <div class="row">
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Nombres</label>
                  <input type="text" class="form-control" value="Roberto Carlos" placeholder="">
                </div>
              </div>
              <div class="col-xs-8 nopadding">
                <div class="form-group winputall">
                  <label>Apellidos</label>
                  <input type="text" value="Rojas Salas" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Cargo</label>
                  <input type="text" value="Gerente" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>DNI</label>
                  <input type="text" value="425 37299" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Correo electrónico</label>
                  <input type="text" value="jorge.campo@gmail.com" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="hiden">Departamento</label>
                  <select class="select2">
                    <option>Administrador</option>
                    <option>OPCION1</option>
                    <option>OPCION2</option>
                    <option>OPCION3</option>
                    <option>OPCION4</option>
                    <option>OPCION5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="hiden">Provincia</label>
                  <select class="select2">
                    <option>Lima</option>
                    <option>OPCION1</option>
                    <option>OPCION2</option>
                    <option>OPCION3</option>
                    <option>OPCION4</option>
                    <option>OPCION5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Teléfono</label>
                  <input type="text" value="987 566 456" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row btnform btnform_usuario">
        <div class="col-xs-12">
          <div class="col-xs-3"></div>
          <div class="col-xs-3">
            <button class="btn btn-default btn-cancelar" onclick="parent.location='?web_inicio'" type="button">CANCELAR</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-default btn-enviar" type="submit">GUARDAR</button>
          </div>
          <div class="col-xs-3"></div>
        </div>
      </div>
    </form>

  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
