<div class="row">
  <div class="col-xs-12 text-center cont-white">
    <div class="content-mensaje-error">
      <img src="images/slices_error_403.png" />
    </br>
    </br>
      <h1>ACCESO RESTRINGIDO</h1>
      <p>Usted debe solicitar acceso al administrador</p>
      <button type="submit" class="btn btn-default btn-errores">IR AL INICIO</button>

      <p class="texto-error">Usted no posee las credenciales suficientes para realizar la siguiente operación.<br>
      Póngase en contacto con el administrador de la página para la renovación de sus credenciales</p>
    </div>
  </div>
</div>
