      <section class="header-login">
        <div class="container">
          <div class="logo">
            <a href="?web_inicio"><img src="images/logo.png"/></a>
          </div>
        <div class="row">
          <div class="col-xs-12 logindiv">
            <div class="pull-right">
              <form class="form-group login-inputs">
                  <div class="col-xs-5 nopadding rightinput">
                    <input type="text" placeholder="Usuario" class="form-control in-login"/>
                  </div>
						      <div class="col-xs-5 nopadding">
						        <input type="password" placeholder="Contraseña" class="form-control in-login"/>
                    <a class="forgot-password" href="?web_recuperar_contrasena">
                      <span class="link-blu">¿Olvidaste tu contraseña?</span>
                    </a>
						      </div>
                  <div class="col-xs-2">
						        <button onClick="parent.location='?web_home_ver'" class="btn btn-default btn-blue"  type="button">INGRESAR</button>
						      </div>
						  </form>
            </div>
          </div>
        </div>
        </section>


      <section class="cont-blue">
        <div class="container">
          <div class="indicaciones">

          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="cont-mensaje">
                <img src="images/titular.png">
                <div class="cont-mensaje-title">
                  <h2>Pasos a seguir para ser voluntario:</h2>
                  <ol class="indicaciones-lista">
                    <li>REGISTRASE COMO POSTULANTE</li>
                    <li>LLEVAR EL CURSO</li>
                    <li>ACTUALIZAR INFORMACIÓN Y MANTENERSE ALERTA</li>
                  </ol>
                </div>
                <div class="cont-button">
                  <button class="btn-orange">Descargar base registro VER</button>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="cont-form text-center">
                <div class="header-log">
                  <span>REGÍSTRATE AHORA</span>
                </div>
                <div class="cont-not text-center">
                  <div class="not1">
                    <a href="?web_registro_ver_1"><span class="btn-blue-lg">VER</span></a>
                    <div class="cont-text">
                      <p>Voluntariado en Emergencia</p>
                      <p> y Rehabilitación</p>
                    </div>
                  </div>
                  <div class="linea">
                  </div>
                  <div class="not2">
                    <a href="#"><span class="btn-gver">GRUPO VER</span></a>
                    <div class="cont-text">
                      <p>Voluntariado en Emergencia</p>
                      <p> y Rehabilitación</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="footer">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-left">Calle Ricardo Angulo Ramirez Nº 694. Urb corpac - San Isidrio Lima Peru Central Telefónica (51) 1 225-9898</span>
            <span class="small pull-right">© 2016 indeci</span>
            <div class="img_footer pull-right"><img src="images/slices_logos union europea.png"></div>
          </footer>
        </div>
      </section>
    </section>


<script>
  (function() {
    $('#pages').addClass('login');
  })();
</script>
