<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">DETALLE DE HISTORIAL DE ALERTAS</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
        <div class="pull-right rlogin">
          <div class="tit-derecha-1">
            <a class="tab-a" href="?web_home_ver">
              <span>GRUPO VER</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="btnform-2 div-actividades">
      <div class="col-xs-12 nopadding">
        <div class="pull-left top-right">
          <a href="?web_registro_ver_1" class="link-a"> <span class="flecha"> <img src="images/slices2.png"><em>Regresar</em></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">

          <div class="row top-row">
            <div class="tabs-container">
              <ul class="nav nav-tabs topabsolute">
                <li><a href="?web_visualizar_perfil">PERFIL</a></li>
                <li class="active"><a>HISTORIAL</a></li>
                <li><a href="?web_visualizar_gestiongrupo">GRUPO VER</a></li>
              </ul>
              <div class="tab-content">
                <div id="historial" class="tab-pane fade paneles_select in active">
                  <div class="row top-row margin-top">
                    <div class="col-xs-12 nopadding">
                      <div class="tit-filtro sub-tit-blue"></div>
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Nombre de evento : Sismo</span>
                        <span>Fecha de Alerta : 12.03.16</span>
                        <span>Ubicación : Provincia de Lima</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Descripción : Sismo en Lima</span>
                        <span>Equipamento requerido : Mochila de supervivencia</span>
                        <span>Vacunas requeridas : Zika, hepatitis</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Respuesta de disponibilidad : No disponible</span>
                      </div>
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Fecha de inicio de alerta : 13.03.16</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Fecha de fin de alerta : 30.03.16</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">
          <div class="row top-row">
            <div class="tabs-container">
              <ul class="nav nav-tabs topabsolute">
                <li><a href="?web_visualizar_perfil">PERFIL</a></li>
                <li class="active"><a>HISTORIAL</a></li>
                <li><a href="?web_visualizar_gestiongrupo">GRUPO VER</a></li>
              </ul>
              <div class="tab-content">
                <div id="historial" class="tab-pane fade paneles_select in active">
                  <div class="row top-row margin-top">
                    <div class="col-xs-12 nopadding">
                      <div class="tit-filtro sub-tit-blue"></div>
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Nombre de evento : Sismo</span>
                        <span>Fecha de Alerta : 12.03.16</span>
                        <span>Ubicación : Provincia de Lima</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Descripción : Sismo en Lima</span>
                        <span>Equipamento requerido : Mochila de supervivencia</span>
                        <span>Vacunas requeridas : Zika, hepatitis</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Respuesta de disponibilidad : No disponible</span>
                      </div>
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Fecha de inicio de alerta : 13.03.16</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Fecha de fin de alerta : 30.03.16</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
