      <section class="header-login-interno hei-top">
        <div class="container">
          <div class="logo">
            <a href="?web_inicio"><img src="images/logo.png"/></a>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h2 class="titulo-principal-interno">LISTA DE VOLUNTARIOS</h2>
              <span class="text-span">VOLUNTARIO EN EMERGENCIAS Y REHABILITACIÓN</span>
            </div>
            <div class="pull-right login-ob">
                <div class="div-login text-center">
                  <div class="cont-login">
                    <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
                    <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
                  </div>
                </div>
            </div>
            <div class="pull-right rlogin">
              <div class="tit-derecha-1">
                <a class="tab-a" href="?web_home_sespad">
                  <span>VER</span>
                </a>
                <a href="?web_detalle_grupo_ver" class="tab-b">
                  <span>ALERTAS</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cont-white">
        <div class="container">
          <div class="btnform-2 div-actividades">
            <div class="col-xs-12 nopadding">
              <div class="pull-left top-right">
                <a href="?web_registro_ver_1" class="link-a"> <span class="flecha"> <img src="images/slices2.png"><em>Regresar</em></span></a>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12 contenedor-input">
           <div class="col-xs-12 nopadding detail-container">
               <div class="row top-row">
                 <div class="col-xs-12 nopadding">
                   <div class="pull-right sprincipal top-right">
                     <button type="submit" class="btn btn-default btn-sky2">NO HAY PDF</button>
                     <button type="button" class="btn btn-default btn-orange-filtro" data-toggle="modal" data-target="#validarusuario">VALIDAR USUARIO</button>
                   </div>
                 </div>
                 <div class="col-xs-12 nopadding">
                     <div class="tit-filtro sub-tit-blue">DETALLES</div>
                 </div>
                 <div class="col-xs-12 nopadding salto">
                   <div class="col-xs-4 nopadding dis-blo">
                     <span><b>José Carlos Barrantes Orosco</b></span>
                     <span>Voluntario General</span>
                     <span>Activado</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>Fecha de registro</span>
                     <span>05-01-2016</span>
                    </div>
                    <div class="col-xs-4 dis-blo">
                      <span>Fecha de nacimiento : 10-01-1984</span>
                      <span>Provincia de Lima</span>
                      <span>Departamento de Lima</span>
                     </div>
                 </div>
                 <div class="col-xs-12 nopadding salto">
                   <div class="col-xs-4 nopadding dis-blo">
                     <span>D.N.I : 70587679</span>
                     <span>Estudios / Profesion : Ingeniero</span>
                     <span>Email : jbarrantes@gmail.com</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>Teléfono : 342 5672</span>
                     <span>Skype : jose.barrantes80</span>
                     <span>Grupo Sanguineo : RH+</span>
                    </div>
                    <div class="col-xs-4 dis-blo">
                      <span>Domicilio : Calle Andrómeda 1082</span>
                      <span>Distrito de Chorrillos</span>
                      <span>Gobierno regional de lima</span>
                     </div>
                 </div>
                </div>
              <div class="row top-row">
                <div class="sub-tit-2-dis">
                  Especialidad
                </div>
                <div class="col-xs-12 nopadding salto">
                  <div class="col-xs-4 nopadding dis-blo">
                    <span>Bachiller</span>
                  </div>
                  <div class="col-xs-4 dis-blo">
                    <span>Instituto Naval de Lima</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>30 de Diciembre del 2013</span>
                    </div>
                </div>
              </div>

              <div class="row top-row">
                <div class="sub-tit-2-dis">
                  Capacitación en gestión del riesgo (opcional)
                </div>
                <div class="col-xs-12 nopadding salto">
                  <div class="col-xs-4 nopadding dis-blo">
                    <span>Curso de primeros auxilios</span>
                  </div>
                  <div class="col-xs-4 dis-blo">
                    <span>Instituto Naval de Lima</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>05 de Agosto del 2013</span>
                     <span>50 horas</span>
                    </div>
                </div>
              </div>

              <div class="row top-row">
                <div class="sub-tit-2-dis">
                  Experiencia como voluntario/a (opcional)
                </div>
                <div class="col-xs-12 nopadding salto">
                  <div class="col-xs-4 nopadding dis-blo">
                    <span>Voluntarios de la cruz roja</span>
                  </div>
                  <div class="col-xs-4 dis-blo">
                    <span>Lima</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>Jefe de Área</span>
                     <span>Abril 2013 - Julio 2014</span>
                    </div>
                </div>
              </div>

              <div class="row top-row">
                <div class="sub-tit-2-dis">
                  Actividades Físicas
                </div>
                <div class="col-xs-12 nopadding salto">
                  <div class="col-xs-4 nopadding dis-blo">
                    <span>Voluntarios de la cruz roja</span>
                  </div>
                  <div class="col-xs-4 dis-blo">
                    <span>3 veces a la semana</span>
                   </div>
                   <div class="col-xs-4 dis-blo">
                     <span>8 horas diarias</span>
                    </div>
                </div>
              </div>

              <div class="row top-row">
                <div class="sub-tit-2-dis">
                  Motivos por los que deseo ser brigadista en voluntariado en emergencias y rehabilitación
                </div>
                <div class="col-xs-12 nopadding salto">
                  <div class="col-xs-12 salto nopadding dis-blo">
                    <span>Personales</span>
                  </div>
                  <div class="col-xs-12 salto nopadding dis-blo">
                    <span>Actividad 1</span>
                  </div>
                </div>
              </div>

            <div class="row btnform-2">
            </div>

          </div>
        </div>
      </div>
    </div>

      <section class="footer-interno">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-right">© 2015 indeci</span>
          </footer>
        </div>
      </section>
    </section>
