      <section class="header-login hei-top">
        <div class="container">
          <div class="logo">
            <a href="?web_inicio"><img src="images/logo.png"/></a>
          </div>
        <div class="row">
          <div class="col-xs-12 logindiv">
            <div class="pull-left">
              <h2 class="titulo-principal">REGISTRO DE VOLUNTARIOS</h2>
            </div>
            <div class="pull-right">
                  <div class="tit-derecha"><span>VER</span></div>
            </div>
          </div>
        </div>
        </section>
      <section class="cont-white">
        <div class="container">
      <form>
        <div class="row">
          <div class="col-xs-12 contenedor-input">
            <div class="row top-row">
              <div class="col-xs-3 nopadding sprincipal steptitle">
              <span class="bluespan">3</span><span class="titulo-top">TERCER PASO</span>
              </div>

            </div>
            <div class="row">
              <div class="sub-tit-3">
                Motivos por los que deseo ser brigadista en voluntariado en emergencias y rehabilitación
              </div>
            </div>
            <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="form-group winputall">
                 <textarea class="form-control" rows="5" col="9"></textarea>
              </div>
            </div>
            <div class="col-xs-12 nopadding">
              <p>* Leer y aceptar los Terminos y Condiciones Legales para finalizar el registro.</p>
            </div>
          </div>


            <div class="row btnform-2">
              <div class="col-xs-12">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4 text-center">
                    <button class="btn btn-default btn-terminos" onclick="parent.location='?web_terminos_legales_ver'" type="button">TERMINOS Y CONDICIONES LEGALES</button>
                  </div>
                  <div class="col-xs-4"></div>
                </div>

            </div>
            <div class="row">
              <div class="col-xs-12 nopadding">
                <div class="pull-left top-right">
                <a class="link-a" href="?web_registro_ver_2">  <span class="flecha"> <img src="images/slices2.png"><em>Anterior</em></span></a>
                </div>

              </div>
            </div>
            <div class="row btnform-2">
            </div>

          </div>
        </div>
      </form>
      </div>

      <section class="footer-interno">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-right">© 2015 indeci</span>
          </footer>
        </div>
      </section>
    </section>
