<div class="row">
  <div class="col-xs-12 text-center cont-white">
    <div class="content-mensaje-error">
      <img src="images/slices_error_404.png" />
    </br>
    </br>
      <h1>¡OH, NO!</h1>
      <p>Esta página no existe</p>
      <button type="submit" class="btn btn-default btn-errores">IR AL INICIO</button>

      <p class="texto-error">Parece que ha habido un error con la página que esta buscando.
        <br> Es posible que la entrada haya sido eliminada o que la dirección no exista.</p>
    </div>
  </div>
</div>
