<div class="row">
  <div class="col-xs-12 text-center cont-white">
    <div class="content-mensaje-error">
      <img src="images/slices_error_500.png" />
      </br>
      </br>
      <h1 class="tit-blue">ERROR INTERNO DEL<br>SERVIDOR</h1>
      <div class="texto-error">
        <h2>¡Vaya! Algo salió mal.</h2>
        <p>Trate de volver a cargar esta página o no dude en contactar con
          <br> nosotros si el problema persiste</p>
      </div>
    </div>
  </div>
</div>
