    <section class="header-login-interno hei-top">
        <div class="container">
          <div class="logo">
            <a href="?web_inicio"><img src="images/logo.png"/></a>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h2 class="titulo-principal-interno">LISTA DE VOLUNTARIOS</h2>
              <span class="text-span">SERVICIO ESCOLAR SOLIDARIO EN PREPARACIÓN Y ATENCIÓN DE DESASTRES</span>
            </div>
            <div class="pull-right login-ob">
                <div class="div-login text-center">
                  <div class="cont-login pull-right">
                    <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
                    <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
                  </div>
                </div>
            </div>
            <div class="pull-right rlogin">
            <div class="tit-derecha-1">
              <a class="tab-a" href="?web_home_ver">
                <span>VER</span>
              </a>
            </div>
          </div>
          </div>
        </div>
        </section>
      <section class="cont-white">
        <div class="container">
        <div class="row">
          <div class="col-xs-12 contenedor-input">
            <div class="row top-row">
              <div class="pull-right sprincipal top-right">
                <button type="submit" class="btn btn-default btn-orange">EXPORTAR REPORTE</button>
              </div>

            </div>

           <div class="col-xs-12 nopadding">
             <table class="table inde-tabla text-center">
               <thead>
                 <tr>
                   <th class="text-center">DOCENTE <br> RESPONSABLE</th>
                   <th class="text-center">APELLIDOS</th>
                   <th class="text-center">ALUMNOS</th>
                   <th class="text-center">INSTITUCIÓN <br> EDUCATIVA</th>
                   <th class="text-center">REGIÓN</th>
                   <th class="text-center">UGEL</th>
                   <th class="text-center">ESTADO</th>
                   <th class="text-center">DETALLES</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Juan</td>
                   <td>Pérez Rivas</td>
                   <td>20</td>
                   <td>San Francisco de Asis</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Jose Carlos</td>
                   <td>Barrantes Orosco</td>
                   <td>14</td>
                   <td>Inmaculada Corazón</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
                 <tr>
                   <td>Pablo</td>
                   <td>Garcia Bellido</td>
                   <td>30</td>
                   <td>Unidad Escolar 0024</td>
                   <td>Lima</td>
                   <td>Colegio</td>
                   <td>Registrado</td>
                   <td><a href="?web_detalles_sespad"><img src="images/slices_mas.png"/></a></td>
                 </tr>
               </tbody>
               </table>
            </div>

            <div class="row btnform-2">
              <div class="col-xs-12">
                  <div class="pull-right top-right">
                      <span class="paginado">
                        <em>1-20 de 50 </em><a href="?web_registro_ver_2" class="link-a"><img src="images/slices1.png"></span></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>

      <section class="footer-interno">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-right">© 2015 indeci</span>
          </footer>
        </div>
      </section>
    </section>
