<section class="header-login hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12 logindiv">
        <div class="pull-left">
          <h2 class="titulo-principal">REGISTRAR GRUPO DE VOLUNTARIADO</h2>
        </div>
        <div class="pull-right">
          <div class="tit-derecha"><span>GRUPO VER</span></div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container icheck-container">
    <form>
      <div class="row">
        <div class="col-xs-12 contenedor-input register-container">
          <div class="row margin-top-grupo">
            <div class="sub-tit-3">
              Datos Generales
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label>Código</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label class="hiden">Pais</label>
                <select class="select2">
                  <option>País</option>
                  <option>Perú</option>
                  <option>Bolivia</option>
                  <option>Ecuador</option>
                  <option>Brasil</option>
                  <option>Ecuador</option>
                </select>
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Teléfono</label>
                <input type="text" value="" class="form-control" placeholder="opcional">
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Web</label>
                <input type="text" value="" class="form-control" placeholder="opcional">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sub-tit-3">
              Responsable
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Tipo de documento</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion1</option>
                    <option>Opcion2</option>
                    <option>Opcion3</option>
                    <option>Opcion4</option>
                    <option>Opcion5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Numero de documento</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Nombres</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="block-label">Apellidos</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Correo</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sub-tit-3">
              Voluntarios participantes
              <div class="pull-right ob">
                <a class="btn-add-actividades-a link-a">
                  <img src="images/slices_mas.png">
                  <span class="btn-add-voluntariosParticipantes"><em> Agregar más</em></span>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Tipo de documento</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion2</option>
                    <option>Opcion3</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Número de documento</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Nombres</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Apellidos</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Fecha de nacimiento</label>
                  <input type="text" placeholder="" class="form-control datepicker">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Correo</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="contenido-de-terminos-usuarios">
            <h1>Términos y condiciones legales</h1>
            <div class="contenido-de-terminos-scroll scrollbox-grupo">
              <ol class="contenido-de-terminos-lista">
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, </li>
              </ol>
            </div>
            <br>
            <br>
            <div class="acepto-terminos">
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </div><span>Acepto los terminos y condiciones</span>
          </div>
          <div class="row btnform">
            <div class="col-xs-12">
              <div class="col-xs-3"></div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-cancelar" onclick="parent.location='?web_inicio'" type="button">CANCELAR</button>
              </div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-enviar" data-toggle="modal" data-target="#mensajeConfirmacion" type="button">FINALIZAR</button>
              </div>
              <div class="col-xs-3"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
