    <section class="header-login-interno hei-top">
        <div class="container">
          <div class="logo">
            <a href="?web_inicio"><img src="images/logo.png"/></a>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h2 class="titulo-principal-interno">LISTA DE VOLUNTARIOS</h2>
              <span class="text-span">VOLUNTARIO EN EMERGENCIAS Y REHABILITACIÓN</span>
            </div>
            <div class="pull-right login-ob">
                <div class="div-login text-center">
                  <div class="cont-login pull-right">
                    <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
                    <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
                  </div>
                </div>
            </div>
            <div class="pull-right rlogin">
              <div class="tit-derecha-1">
                <a class="tab-a tab-b" href="?web_detalles_ver_2">
                  <span>VER</span>
                </a>
                <a href="?web_detalle_grupo_ver">
                  <span>ALERTAS</span>
                </a>
              </div>
          </div>
          </div>
        </div>
        </section>
      <section class="cont-white">
        <div class="container">
          <div class="btnform-2 div-actividades">
            <div class="col-xs-12 nopadding">
              <div class="pull-left top-right">
                <a href="?web_registro_ver_1" class="link-a"> <span class="flecha"> <img src="images/slices2.png"><em>Regresar</em></span></a>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12 contenedor-input">
           <div class="col-xs-12 nopadding">
             <table class="table inde-tabla text-center alertas-table">
               <thead>
                 <tr>
                   <th class="text-center th-primary border-right" colspan="3">ALERTA</th>
                   <th class="text-center th-primary" colspan="3">RESPUESTA</th>
                   <th class="text-center th-primary" colspan="3">REGISTRO DE PARTICIPACIÓN</th>
                 </tr>
                 <tr>
                   <th class="text-center th-secundary">NOMBRE DE EVENTO</th>
                   <th class="text-center th-secundary">FECHA DE ALERTA</th>
                   <th class="text-center th-secundary border-right">UBICACION</th>
                   <th class="text-center th-secundary">FECHA INICIO DISPONIBILIDAD</th>
                   <th class="text-center th-secundary">FECHA FIN DISPONIBILIDAD</th>
                   <th class="text-center th-secundary border-right">PDF FIRMADO</th>
                   <th class="text-center th-secundary">CERTIFICADO DE CERTIFICACIÓN</th>
                   <th class="text-center th-secundary">CANTIDAD DE HORAS</th>
                   <th class="text-center th-secundary">ACTIVIDAD REALIZADA</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Sismo en Arequipa</td>
                   <td>12.05.2013</td>
                   <td class="border-right">Arequipa</td>
                   <td>16.05.2013</td>
                   <td>22.06.2013</td>
                   <td class="border-right"><a class="link-sky">Legal.pdf</a></td>
                   <td><a class="link-sky">Participación.pdf</a></td>
                   <td>84</td>
                   <td>Rehabilitación de viviendas</td>
                 </tr>
                 <tr>
                   <td>Sismo en Trujillo</td>
                   <td>12.05.2013</td>
                   <td class="border-right">Arequipa</td>
                   <td>16.05.2013</td>
                   <td>22.06.2013</td>
                   <td class="border-right"><a class="link-sky">Legal.pdf</a></td>
                   <td><a class="link-sky">Participación.pdf</a></td>
                   <td>90</td>
                   <td>Rehabilitación de viviendas</td>
                 </tr>
                 <tr>
                   <td>Sismo en Lima</td>
                   <td>12.05.2013</td>
                   <td class="border-right">Arequipa</td>
                   <td>16.05.2013</td>
                   <td>22.06.2013</td>
                   <td class="border-right"><a class="link-sky">Legal.pdf</a></td>
                   <td><a class="link-sky">Participación.pdf</a></td>
                   <td>60</td>
                   <td>Rehabilitación de viviendas</td>
                 </tr>
                 <tr>
                   <td>Sismo en Ica</td>
                   <td>12.05.2013</td>
                   <td class="border-right">Arequipa</td>
                   <td>16.05.2013</td>
                   <td>22.06.2013</td>
                   <td class="border-right"><a class="link-sky">Legal.pdf</a></td>
                   <td><a class="link-sky">Participación.pdf</a></td>
                   <td>90</td>
                   <td>Rehabilitación de viviendas</td>
                 </tr>
                 <tr>
                   <td>Sismo en Arequipa</td>
                   <td>12.05.2013</td>
                   <td class="border-right">Arequipa</td>
                   <td>16.05.2013</td>
                   <td>22.06.2013</td>
                   <td class="border-right"><a class="link-sky">Legal.pdf</a></td>
                   <td><a class="link-sky">Participación.pdf</a></td>
                   <td>90</td>
                   <td>Rehabilitación de viviendas</td>
                 </tr>
               </tbody>
               </table>
            </div>

            <div class="row btnform-2">
              <div class="col-xs-12">
                  <div class="pull-right top-right">
                      <span class="paginado">
                        <em>1-20 de 50 </em><a href="?web_registro_ver_2" class="link-a"><img src="images/slices1.png"></span></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>

      <section class="footer-interno">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-right">© 2015 indeci</span>
          </footer>
        </div>
      </section>
    </section>
