<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">ADMINISTRAR USUARIO DE SISTEMA</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login pull-right">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding">
          <div class="tabs-container">
            <ul class="nav nav-tabs topabsolute">
              <li class="active"><a>ADMINISTRAR USUARIOS</a></li>
              <li><a href="?web_visualizar_lista">ADMINISTRAR TABLAS MAESTRAS</a></li>
            </ul>
            <div class="tab-content">
              <div id="administrarUsuario" class="tab-pane fade in active">
                <table class="table inde-tabla text-center alertas-table">
                  <thead>
                    <tr>
                      <th class="text-center th-secundary">NOMBRE</th>
                      <th class="text-center th-secundary">APELLIDOS</th>
                      <th class="text-center th-secundary">CARGO</th>
                      <th class="text-center th-secundary">CORREO</th>
                      <th class="text-center th-secundary">PERFIL</th>
                      <th class="text-center th-secundary" width="7%">EDITAR</th>
                      <th class="text-center th-secundary" width="5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Juan</td>
                      <td>Pérez Rivas</td>
                      <td>Jefe de administración</td>
                      <td>juan.perez@gmail.com</td>
                      <td>Administrador</td>
                      <td>
                        <a href="?web_editar_usuario" class="btn_editar"></a>
                      </td>
                      <td>
                        <a data-toggle="modal" data-target="#mensajeEliminar" class="btn_eliminar"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Juan</td>
                      <td>Pérez Rivas</td>
                      <td>Jefe de administración</td>
                      <td>juan.perez@gmail.com</td>
                      <td>Administrador</td>
                      <td>
                        <a href="?web_editar_usuario" class="btn_editar"></a>
                      </td>
                      <td>
                        <a data-toggle="modal" data-target="#mensajeEliminar" class="btn_eliminar"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Juan</td>
                      <td>Pérez Rivas</td>
                      <td>Jefe de administración</td>
                      <td>juan.perez@gmail.com</td>
                      <td>Administrador</td>
                      <td>
                        <a href="?web_editar_usuario" class="btn_editar"></a>
                      </td>
                      <td>
                        <a data-toggle="modal" data-target="#mensajeEliminar" class="btn_eliminar"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Juan</td>
                      <td>Pérez Rivas</td>
                      <td>Jefe de administración</td>
                      <td>juan.perez@gmail.com</td>
                      <td>Administrador</td>
                      <td>
                        <a href="?web_editar_usuario" class="btn_editar"></a>
                      </td>
                      <td>
                        <a data-toggle="modal" data-target="#mensajeEliminar" class="btn_eliminar"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Juan</td>
                      <td>Pérez Rivas</td>
                      <td>Jefe de administración</td>
                      <td>juan.perez@gmail.com</td>
                      <td>Administrador</td>
                      <td>
                        <a href="?web_editar_usuario" class="btn_editar"></a>
                      </td>
                      <td>
                        <a data-toggle="modal" data-target="#mensajeEliminar" class="btn_eliminar"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="btn_content_top">
                  <a class="btn btn-default btn_orange" type="button" href="?web_registro_usuario">Nuevo Usuario</a>
                  <a class="btn_export">Exportar reporte</a>
                </div>
                <div class="row btnform-2">
                  <div class="col-xs-12">
                    <div class="pull-right top-right">
                      <span class="paginado">
                        <a href="#" class="link-b"><img src="images/slices2.png"></a>
                        <em>1-20 de 50 </em>
                        <a href="#" class="link-a"><img src="images/slices1.png"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
