<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">HISTORIAL DE ALERTAS</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">
          <div class="row top-row">
            <div class="tabs-container">
              <ul class="nav nav-tabs topabsolute">
                <li><a href="?web_visualizar_perfil">PERFIL</a></li>
                <li class="active"><a>HISTORIAL</a></li>
                <li><a href="?web_visualizar_gestiongrupo">GRUPO VER</a></li>
              </ul>
              <div class="tab-content">
                <div id="historial" class="tab-pane fade paneles_select in active">
                  <table class="table inde-tabla text-center alertas-table">
                    <thead>
                      <tr>
                        <th class="text-center th-secundary">EVENTO</th>
                        <th class="text-center th-secundary">FECHA DE ALERTA</th>
                        <th class="text-center th-secundary">UBICACIÓN</th>
                        <th class="text-center th-secundary">RESPUESTA</th>
                        <th class="text-center th-secundary">PARTICIPACIÓN</th>
                        <th class="text-center th-secundary">DETALLES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Sismo</td>
                        <td>12.06.16</td>
                        <td>Jefe de administración</td>
                        <td>juan.perez@gmail.com</td>
                        <td>Administrador</td>
                        <td>
                          <a class="ver-detalle" href="?web_detalle_historial"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Incencio</td>
                        <td>12.06.16</td>
                        <td>Jefe de administración</td>
                        <td>juan.perez@gmail.com</td>
                        <td>Administrador</td>
                        <td>
                          <a class="ver-detalle" href="?web_detalle_historial"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Sismo</td>
                        <td>12.06.16</td>
                        <td>Jefe de administración</td>
                        <td>juan.perez@gmail.com</td>
                        <td>Administrador</td>
                        <td>
                          <a class="ver-detalle" href="?web_detalle_historial"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Huayco</td>
                        <td>12.06.16</td>
                        <td>Jefe de administración</td>
                        <td>juan.perez@gmail.com</td>
                        <td>Administrador</td>
                        <td>
                          <a class="ver-detalle" href="?web_detalle_historial"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Sismo</td>
                        <td>12.06.16</td>
                        <td>Jefe de administración</td>
                        <td>juan.perez@gmail.com</td>
                        <td>Administrador</td>
                        <td>
                          <a class="ver-detalle" href="?web_detalle_historial"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row btnform-2">
                    <div class="col-xs-12">
                      <div class="pull-right top-right">
                        <span class="paginado">
                          <em>1-20 de 50 </em><a class="link-a" href="#"><img src="images/slices1.png"></a></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
