<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno">LISTA DE VOLUNTARIOS</h2>
          <span class="text-span">VOLUNTARIO EN EMERGENCIAS Y REHABILITACIÓN</span>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login">
            <div class="cont-login pull-right">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
        <div class="pull-right rlogin">
          <div class="tit-derecha-1">
            <a href="?web_home_ver" class="tab-a">
              <span>VER</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container icheck-container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12">
          <form class="row top-row">
            <div class="pull-left">
              <div class="fbusqueda">
                <input type="text" class="form-control in-login in-filtro" placeholder="">
              </div>
              <div class="alerta">
                <input type="checkbox" class="check-all" data-check="1">
                <a><span id="leftCheckbox">Seleccionar Todos</span></a>
              </div>
              <div class="alerta alerta-modal">
                <img src="images/slices_campana.png">
                <a><span>Alertar</span></a>
              </div>
              <div class="alerta">
                <img src="images/slices_cargar.png">
                <a data-toggle="modal" data-target="#mensajeCargarVoluntarios"><span>Cargar</span></a>
              </div>
              <div class="alerta">
                <img src="images/slices_enviar.png">
                <a id="PositionIndeci" data-toggle="modal" data-target="#mensajeDefocaph"><span id="leftEnviarIndeci">Enviar a <p id="leftIndeciEduca">INDECI EDUCA</p></span></a>
              </div>
            </div>
            <div class="pull-right sprincipal top-right">
              <button type="button" data-toggle="modal" data-target="#exportar-reporte" class="btn btn-default btn-orange">EXPORTAR REPORTE</button>
            </div>
          </form>
        </div>
        <div class="nopadding filters-container">
          <div class="row top-row tit-filtro">FILTROS</div>
          <ul class="ul-filtro">
            <li class="ul-titulo black">Voluntarios</li>
            <li>
              <span>General</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>Especializado</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
          </ul>
          <div class="raya"></div>
          <ul class="ul-filtro-top">
            <li class="ul-titulo black">Profesión</li>
          </ul>
          <div class="scrollbox">
            <ul class="ul-filtro">
              <li>
                <span>Medicina</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Ingenieria</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Policia</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Otros</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
            </ul>
          </div>
          <div class="raya"></div>

          <ul class="ul-filtro">
            <li class="ul-titulo black">Edad</li>
            <li>
              <span>18 - 25</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>25 - 35</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>35 - 60</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>60 a más</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
          </ul>
          <div class="raya"></div>
          <ul class="ul-filtro-top">
            <li class="ul-titulo black">Región</li>
          </ul>
          <div class="scrollbox">
            <ul class="ul-filtro">
              <li>
                <span>Lima</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Arequipa</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Piura</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
              <li>
                <span>Cusco</span>
                <div class="check-r">
                  <input type="checkbox" value="">
                </div>
              </li>
            </ul>
          </div>
          <div class="raya"></div>

          <ul class="ul-filtro">
            <li class="ul-titulo black">Estado</li>
            <li>
              <span>Registrado</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>Invalido</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>Validado</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>Alertado</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
            <li>
              <span>Activado</span>
              <div class="check-r">
                <input type="checkbox" value="">
              </div>
            </li>
          </ul>

          <br>
          <div class="cont-boton">
            <button class="btn btn-default btn-filtrar" type="submit">APLICAR FILTROS</button>
          </div>

        </div>

        <div class="data-container check-all-childrens-1">
          <div class="inde-tabla text-center hidden">
            <h2 class="mensaje-null">NO SE ENCONTRON RESULTADOS</h2>
          </div>
          <table class="table inde-tabla text-center">
            <thead>
              <tr>
                <th class="wthe"></th>
                <th class="text-center">NOMBRES</th>
                <th class="text-center min-wi">APELLIDOS</th>
                <th class="text-center">D.N.I</th>
                <th class="text-center">ESTADO</th>
                <th class="text-center">NACIMIENTO</th>
                <th class="text-center">PROFESIÓN</th>
                <th class="text-center">REGIÓN</th>
                <th class="text-center">TIPO</th>
                <th class="text-center">DETALLES</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="bs-checkbox-1">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>activo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr class="">
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>activo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>activo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1 ">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
              <tr>
                <td class="bs-checkbox-1">
                  <input type="checkbox" value="">
                </td>
                <td>Juan</td>
                <td>Pérez Rivas</td>
                <td>70587679</td>
                <td>Inactivo</td>
                <td>02-10-80</td>
                <td>Medicina</td>
                <td>Lima</td>
                <td>General</td>
                <td>
                  <a href="?web_detalles_ver_2" class="ver-detalle"></a>
                </td>
                <td class="op-deshabilitar"><span class="habilitado">Deshabilitar</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row btnform-2">
          <div class="col-xs-12">
            <div class="pull-right top-right">
              <span class="paginado">
                        <em>1-20 de 50 </em><a href="?web_detalles_ver_2" class="link-a"><img src="images/slices1.png"></span></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
