<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno">GESTIÓN DE GRUPO DE VOLUNTARIADO</h2>
          <span class="text-span">VOLUNTARIADO EN EMERGENCIAS Y REHABILITACIÓN</span>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">
          <div class="row top-row">
            <div class="tabs-container">
              <ul class="nav nav-tabs topabsolute">
                <li><a href="?web_visualizar_perfil">PERFIL</a></li>
                <li><a href="?web_visualizar_historial">HISTORIAL</a></li>
                <li class="active"><a>GRUPO VER</a></li>
              </ul>
              <div class="tab-content">
                <div id="gestiongrupo" class="tab-pane fade paneles_select in active">
                  <table class="table inde-tabla text-center grupo_ver">
                    <thead>
                      <tr>
                        <th class="text-center th-secundary" width="12%">CODIGO</th>
                        <th class="text-center th-secundary" width="12%">NOMBRE</th>
                        <th class="text-center th-secundary" width="12%">PAIS</th>
                        <th class="text-center th-secundary" width="12%">TELÉFONO</th>
                        <th class="text-center th-secundary" width="30%">PÁGINA WEB</th>
                        <th class="text-center th-secundary"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control form-control-s text-center" placeholder="" value="0056" disabled="true"></td>
                        <td><input type="text" class="form-control form-control-s text-center" placeholder="" value="Apurimak" disabled="true"></td>
                        <td><input type="text" class="form-control form-control-s text-center" placeholder="" value="Perú" disabled="true"></td>
                        <td><input type="text" class="form-control form-control-s text-center" placeholder="" value="245 1327" disabled="true"></td>
                        <td><input type="text" class="form-control form-control-s text-center" placeholder="" value="www.apurimakperu.com" disabled="true"></td>
                        <td class="btn_mantenimiento">
                          <a class="btn-add-cursos-a" data-target="#agregarParticipante" data-toggle="modal">
                            <img src="images/slices_mas.png">
                            <span class="btn-add-cursos"><em> Agregar participante </em></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-xs-12 text-center">
                    <h4 class="sub-tit-grey">LISTA DE PARTICIPANTES</h4>
                  </div>
                  <table class="table inde-tabla text-center grupo_ver_two">
                    <thead>
                      <tr>
                        <th class="text-center th-secundary">TIPO DE
                          <br> DOCUMENTO</th>
                        <th class="text-center th-secundary">NÚMERO DE
                          <br> DOCUMENTO</th>
                        <th class="text-center th-secundary">NOMBRES</th>
                        <th class="text-center th-secundary">APELLIDOS</th>
                        <th class="text-center th-secundary">TELÉFONO</th>
                        <th class="text-center th-secundary">CORREO
                          <br> ELECTRÓNICO</th>
                        <th class="text-center th-secundary">AFILIACIÓN</th>
                        <th class="text-center th-secundary"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>ok</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>ok</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>pendiente</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>ok</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>ok</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>pendiente</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>DNI</td>
                        <td>42671665</td>
                        <td>Arcadio</td>
                        <td>Ruiz Gómez</td>
                        <td>9950 71 345</td>
                        <td>arcadio@gmail.com</td>
                        <td>ok</td>
                        <td class="div_elegir">
                          <a class="btn_eliminar" data-target="#mensajeEliminarRegistroGrupo" data-toggle="modal"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="btn_content_top">
                  <a href="#" type="button" class="btn btn-default btn_orange actualizar_info_grupo">Actualizar</a>
                  <a class="btn_dejarResponsabilidad">Dejar responsabilidad</a>
                </div>
                <div class="row btnform-2">
                  <div class="col-xs-12">
                    <div class="pull-right top-right">
                      <span class="paginado">
                      <em>1-20 de 50 </em><a class="link-a" href="#"><img src="images/slices1.png"></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
