<section class="header-login hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12 logindiv">
        <div class="pull-left">
          <h2 class="titulo-principal">EDITAR PERFIL DE VOLUNTARIO</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login">
            <div class="cont-login pull-right">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-xs-12 contenedor-input register-container">
          <div class="row top-row">
            <div class="pull-right sprincipal top-right">
              <div class="btn btn-modalsmall plomo uptop btn-uploader-container-up nopadding">
                <input type="file" class="btn-upload-product-picture up">
                <span class="btn-uploader-text btn btn-default btn-sky2">ADJUNTAR ANTECEDENTES PENALES</span>
                <span class="nombre-archivo-up"></span>
              </div>
              <div class="btn btn-modalsmall plomo uptop btn-uploader-container-up nopadding">
                <input type="file" class="btn-upload-product-picture up">
                <span class="btn-uploader-text btn btn-default btn-sky2">ADJUNTAR ANEXO 5</span>
                <span class="nombre-archivo-up"></span>
              </div>
              <div class="pull-right sprincipal">
                <button class="btn btn-default btn-orange" type="submit">ANEXO 5</button>
                <div class="div-subti min-letter">
                  <a class="link-a" href="#"><span class="text-center">Descarge el anexo para adjuntarlo <br>(opcional, sólo para menores de edad)</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sub-tit-2">
              Datos Generales
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-xs-12 nopadding">
                <div class="col-xs-4 nopadding shijo">
                  <div class="form-group winput">
                    <select class="select2">
                      <option>Pais</option>
                      <option>OPCION1</option>
                      <option>OPCION2</option>
                      <option>OPCION3</option>
                      <option>OPCION4</option>
                      <option>OPCION5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 nopadding">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="hiden">Departamento</label>
                  <select class="select2">
                    <option>Departamento</option>
                    <option>OPCION1</option>
                    <option>OPCION2</option>
                    <option>OPCION3</option>
                    <option>OPCION4</option>
                    <option>OPCION5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="hiden">Provincia</label>
                  <select class="select2">
                    <option>Provincia</option>
                    <option>OPCION1</option>
                    <option>OPCION2</option>
                    <option>OPCION3</option>
                    <option>OPCION4</option>
                    <option>OPCION5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="hiden">Distrito</label>
                  <select class="select2">
                    <option>Distrito</option>
                    <option>OPCION1</option>
                    <option>OPCION2</option>
                    <option>OPCION3</option>
                    <option>OPCION4</option>
                    <option>OPCION5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Nombres</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-8 nopadding">
              <div class="form-group winputall">
                <label>Apellidos</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label class="block-label">Fecha de nacimiento</label>
                <div class="col-xs-4 nopadding wauto">
                  <input type="text" placeholder="" class="form-control datepicker">
                </div>
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label class="block-label">Tipo de documento</label>
                <div class="col-xs-4 nopadding shijo">
                  <div class="form-group winput">
                    <select class="select2">
                      <option></option>
                      <option>PASAPORTE</option>
                      <option>OPCION2</option>
                      <option>OPCION3</option>
                      <option>OPCION4</option>
                      <option>OPCION5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Número de documento</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label class="block-label">Profesión</label>
                <select class="select2">
                  <option>Elegir especialidad</option>
                  <option>OPCION1</option>
                  <option>OPCION2</option>
                  <option>OPCION3</option>
                  <option>OPCION4</option>
                  <option>OPCION5</option>
                </select>
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Domicilio</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Teléfono</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Skype</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label class="hiden">Texto Texto</label>
                <select class="select2">
                  <option>Grupo sanguíneo</option>
                  <option>OPCION1</option>
                  <option>OPCION2</option>
                  <option>OPCION3</option>
                  <option>OPCION4</option>
                  <option>OPCION5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label>Gobierno regional/local/entidad (opcional)</label>
                <select class="select2">
                  <option></option>
                  <option>OPCION1</option>
                  <option>OPCION2</option>
                  <option>OPCION3</option>
                  <option>OPCION4</option>
                  <option>OPCION5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sub-tit-2">
              Especialidad (opcional)
              <div class="pull-right ob">
                <a class="btn-add-especialidad-a">
                  <img src="images/slices_mas.png">
                  <span class="btn-add-cursos"><em> Agregar más</em></span>
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label>Grado académico</label>
                <select class="select2">
                  <option></option>
                  <option>Opcion1</option>
                  <option>Opcion2</option>
                  <option>Opcion3</option>
                  <option>Opcion4</option>
                  <option>Opcion5</option>
                </select>
              </div>
            </div>
            <div class="col-xs-4 nopadding shijo">
              <div class="form-group winput">
                <label>Institución</label>
                <select class="select2">
                  <option>UNIVERSIDAD CATOLICA</option>
                  <option>IPP</option>
                  <option>SAN MARCOS</option>
                  <option>IPAD</option>
                  <option>IDAD</option>
                  <option>OPCION5</option>
                </select>
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label class="hiden">Otros</label>
                <input type="text" class="form-control" placeholder="otros">
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label>Año en que culmino</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-4 nopadding">
              <div class="form-group winput">
                <label class="hiden">Adjuntar</label>
                <div>
                  <span class="nombre-archivo"></span>
                  <div class="btn btn-modalsmall plomo btn-uploader-container">
                    <input type="file" class="btn-upload-product-picture one-in">
                    <span class="btn-uploader-text"><em>Adjuntar certificado de especialización</em></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="especialidad">
            <div class="sub-tit-3">
              Capacitación en gestión del riesgo (opcional)
              <div class="pull-right ob">
                <a class="btn-add-cursos-a">
                  <img src="images/slices_mas.png">
                  <span class="btn-add-cursos"><em> Agregar más</em></span>
                </a>
              </div>
            </div>
            <span>Detalles del curso de capacitación en gestión del riesgo de desastres que ha realizado :</span>
          </div>
          <br>
          <div class="padre">
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Curso</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion1</option>
                    <option>Opcion2</option>
                    <option>Opcion3</option>
                    <option>Opcion4</option>
                    <option>Opcion5</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Institución (Seleccionar)</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion1</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="block-label hiden">Otros</label>
                  <input type="text" placeholder="Otros" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label class="block-label">Fecha</label>
                  <input type="text" placeholder="" class="form-control datepicker">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Duración de horas</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label class="hiden">Adjuntar</label>
                  <div>
                    <span class="nombre-archivo"></span>
                    <div class="btn btn-modalsmall plomo btn-uploader-container">
                      <input type="file" class="btn-upload-product-picture one-in">
                      <span class="btn-uploader-text"><em>Adjuntar certificado de capacitación</em></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="cont-info">
            <div class="sub-tit-3">
              Experiencia como voluntario/a (opcional)
              <div class="pull-right ob">
                <a class="btn-add-experiencia-a link-a">
                  <img src="images/slices_mas.png">
                  <span class="btn-add-experiencia"><em> Agregar más</em></span>
                </a>
              </div>
            </div>
            <br>
            <span>Institución de voluntarios/as a lo que pertenece o a pertenecido :</span>
          </div>

          <div>
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Institución ( seleccionar )</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion2</option>
                    <option>Opcion3</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label class="hiden">otros</label>
                  <input type="text" placeholder="Otros" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Ciudad</label>
                  <select class="select2 col-xs-2">
                    <option></option>
                    <option>lima</option>
                    <option>opcion1</option>
                    <option>opcion2</option>
                    <option>opcion3</option>
                    <option>opcion4</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Cargo</label>
                  <select class="select2">
                    <option></option>
                    <option>Opcion1</option>
                    <option>Opcion2</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Tiempo</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="row div-experiencia">
            <div class="sub-tit-3">
              Deportes o actividades físicas (opcional)
              <div class="pull-right ob">
                <a class="btn-add-actividades-a link-a">
                  <img src="images/slices_mas.png">
                  <span class="btn-add-experiencia"><em> Agregar más</em></span>
                </a>
              </div>
            </div>
            <span>Actividades que ha realizado o realiza :</span>
          </div>

          <div>
            <div class="row">
              <div class="col-xs-4 nopadding shijo">
                <div class="form-group winput">
                  <label>Disciplina deportiva</label>
                  <select class="select2">
                    <option></option>
                    <option>opcion1</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Intensidad por semana (en horas)</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-xs-4 nopadding">
                <div class="form-group winput">
                  <label>Tiempo de práctica (en meses)</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sub-tit-3">
              Escriba los motivos por los que desea ser brigadista en voluntariado en emergencias y rehabilitación
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="form-group winputall">
                <textarea class="form-control" rows="5" col="9"></textarea>
              </div>
            </div>
          </div>

          <div class="row btnform">
            <div class="col-xs-12">
              <div class="col-xs-3"></div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-cancelar" onclick="parent.location='?web_inicio'" type="button">CANCELAR</button>
              </div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-enviar" onclick="parent.location='?web_inicio'" type="button">GUARDAR</button>
              </div>
              <div class="col-xs-3"></div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
