<div class="header-confirmacion">
  <div class="container">
    <div class="copyright">
      <span class="small pull-right">&copy; 2016 indeci</span>
    </div>
    <div class="confirmacion-logo text-center">
      <img src="images/logo2.png" />
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="body-confirmacion text-center">
    <h1 class="confirmacion-h1">¡FELICITACIONES!</h1>
    <p>Tu registro como <b>voluntario en Emergencias<br>
    y Rehabilitación</b> se realizó satisfactoriamente.</p>
    <div class="confirmacion-msj">
      <p>Gracias por ser parte de esta iniciativa de <b>INDECI</b>, se te
        <br> enviará notificaciones para el voluntario.</p>
      <br>
      <p>Tus datos de registro son:</p>
      <br>
      <p>D.N.I : 42671665
        <br> Contraseña : 1234rtedf</p>
    </div>
    <br>
    <br>
    <br>
    <div class="col-xs-12 text-center">
      <a href="?web_inicio"><span class="btn-orange-lg">IR A INICIO</span></a>
    </div>
  </div>
</div>
<div class="confirmacion-footer text-center">
  <p>Calle Ricardo Angulo Ramírez Nº 694 Urb. Corpac - San Isidro Lima Perú <span>Central Telefónica : (51)1 225-9898</span></p>
</div>
