<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno">LISTA DE VOLUNTARIOS</h2>
          <span class="text-span">SERVICIO ESCOLAR SOLIDARIO EN PREPARACIÓN Y ATENCIÓN DE DESASTRES</span>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
        <div class="pull-right rlogin">
          <div class="tit-derecha-1">
            <a class="tab-a" href="?web_home_ver">
              <span>VER</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">
          <div class="row top-row">
            <div class="col-xs-12 nopadding">
              <div class="tit-filtro sub-tit-blue">DETALLES</div>
            </div>
            <div class="col-xs-12 nopadding salto">
              <div class="col-xs-4 nopadding dis-blo">
                <span><b>José Carlos Barrantes Orosco</b></span>
                <span>Activo</span>
              </div>
              <div class="col-xs-4 dis-blo">
                <span>Fecha de registro</span>
                <span>05-01-2016</span>
              </div>
              <div class="col-xs-4 dis-blo">
                <span>Departamento : Lima</span>
                <span>Provincia : Lima</span>
                <span>Distrito : Lima</span>
              </div>
            </div>
            <div class="col-xs-12 nopadding salto">
              <div class="col-xs-4 nopadding dis-blo">
                <span>Teléfono : 2531326</span>
                <span>Email : jbarrantes@gmail.com</span>
                <span>Dirección : Los trigales 342</span>
              </div>
              <div class="col-xs-4 dis-blo">
                <span>Colegio La inmaculada</span>
                <span>Av. Benavides 327 - Surco</span>
                <span>Director. Ing. Alberto Carpio Carrillos</span>
              </div>
              <div class="col-xs-4 dis-blo">
                <span>Teléfono : 4675547</span>
                <span>Fax : [+51] (1) 610 1720</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 nopadding">
            <table class="table inde-tabla-2 top-rey text-center">
              <thead>
                <tr>
                  <th class="text-center min-wi-f">NOMBRES</th>
                  <th class="text-center min-wi-f">APELLIDOS</th>
                  <th class="text-center min-wi-f">GRADO ACTUAL</th>
                  <th class="text-center min-wi-f">DESCARGAR</th>
                </tr>
              </thead>
            </table>
            <div class="scrollbox1">
              <table class="table inde-tabla-1 top-rey text-center">
                <tbody>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                  <tr>
                    <td class="min-wi-f">José Carlos</td>
                    <td class="min-wi-f">Montalvan Roca</td>
                    <td class="min-wi-f">4to. de secundaria</td>
                    <td class="plom-l"><a href="">Anexo 3</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row btnform-2">
          </div>

        </div>
      </div>
    </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
