<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">LISTAS DE TABLAS MAESTRAS</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login pull-right">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding">
          <div class="tabs-container">
            <ul class="nav nav-tabs topabsolute">
              <li><a href="?web_lista_de_usuarios">ADMINISTRAR USUARIOS</a></li>
              <li class="active"><a>ADMINISTRAR TABLAS MAESTRAS</a></li>
            </ul>
            <div class="tab-content">
              <div id="administrarTablas" class="tab-pane fade paneles_select  in active">
                <div class="panel_contenedor">
                  <div class="col-xs-4">
                    <div class="panel panel-default panel-transparent">
                      <div class="panel-heading panel-heading-transparent">
                        <h3 class="panel-title text-center grey">LISTA DE TABLAS MAESTRAS</h3>
                      </div>
                      <div class="panel-body panel-body-line ciudad">
                        <ul class="list-unstyled ul_table_maestra">
                          <li data-id="0">Cargo</li>
                          <li data-id="1" class="active">Ciudad</li>
                          <li data-id="2">Curso</li>
                          <li data-id="3">Disciplina Deportiva</li>
                          <li data-id="4">DREE</li>
                          <li data-id="5">Gobierno regional / entidad</li>
                          <li data-id="6">Grado académico</li>
                          <li data-id="7">Grado actual</li>
                          <li data-id="8">Grado saguíneo</li>
                          <li data-id="9">Institución</li>
                          <li data-id="10">Institución Educativa</li>
                          <li data-id="11">Profesión</li>
                          <li data-id="12">Sexo</li>
                          <li data-id="13">UGEL</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="panel panel-default panel-transparent">
                      <div class="panel-heading panel-heading-transparent">
                        <h3 class="panel-title text-center grey">LISTA DE NOMBRES DE REGISTROS</h3>
                      </div>
                      <div class="panel-body panel-body-line">
                        <div class="div_agregar">
                          <a class="list_agregar"><span class="btn_add_panel"></span>
                          <span class="grey btn_add_panel_a"> <i> Agregar más </i> </span>
                        </a>
                        </div>
                        <div class="scrollbox_panel">
                          <ul class="list-unstyled font-black">
                            <!--Los elementos Li Se agrega por funcion de Javascript-->
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="panel panel-default panel-transparent">
                      <div class="panel-heading panel-heading-transparent">
                        <h3 class="panel-title text-center grey">FORMULARIO DE REGISTROS</h3>
                      </div>
                      <div class="panel-body panel-body-line">
                        <div class="col-xs-12 input_padding" id="1">
                          <div class="form-group">
                            <label>Cargo</label>
                            <input type="text" placeholder="" class="form-control input_panel">
                          </div>
                          <div class="col-xs-12 btn_padding">
                            <div class="col-xs-12 text-center">
                              <button type="submit" class="btn btn-default btn-enviar">AGREGAR</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 input_padding" id="13">
                          <div class="form-group panel-select">
                            <select class="select2 grey">
                              <option>DREE</option>
                              <option>OPCION1</option>
                              <option>OPCION2</option>
                              <option>OPCION3</option>
                              <option>OPCION4</option>
                              <option>OPCION5</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Nombre de UGEL</label>
                            <input type="text" placeholder="" class="form-control input_panel">
                          </div>
                          <div class="col-xs-12 btn_padding">
                            <div class="col-xs-12 text-center">
                              <button type="submit" class="btn btn-default btn-enviar">AGREGAR</button>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-12 input_padding" id="10">
                          <div class="form-group">
                            <label>Nombre de la institución</label>
                            <input type="text" placeholder="" class="form-control input_panel">
                          </div>
                          <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" placeholder="" class="form-control input_panel">
                          </div>
                          <div class="col-xs-12 btn_padding">
                            <div class="col-xs-12 text-center">
                              <button type="submit" class="btn btn-default btn-enviar">GUARDAR</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
      </footer>
    </div>
  </section>
</section>
