      <section class="cont-blue-contrasena">
        <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <div class="card card-container text-center">
              <img src="images/logo2.png" class="img-responsive profile-img-card">
              <span class="twhite font-b">Ingrese su nueva contraseña</span>
              <form class="form-signin w-form">
                <input type="password" autofocus="" required="" placeholder="Nueva contraseña" class="form-control" value="">
                <input type="password" required="" placeholder="Confirmar contraseña" class="form-control" value="">
                <br>
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin font-b">CAMBIAR CONTRASEÑA</button>
              </form>
            </div>

          </div>
        </div>
      </div>

      <section class="footer">
        <div class="container">
          <footer class="logindiv">
            <span class="small pull-left">Calle Ricardo Angulo Ramirez Nº 694. Urb corpac - San Isidrio Lima Peru Central Telefónica (51) 1 225-9898</span>
            <span class="small pull-right">&copy; 2016 indeci</span>
            <div class="img_footer pull-right"><img src="images/slices_logos union europea.png"></div>
          </footer>
        </div>
      </section>

    </section>
    <script>
      (function() {
        $('#pages').addClass('nueva-contrasena');
      })();
    </script>
