<section class="header-login-interno hei-top">
  <div class="container">
    <div class="logo">
      <a href="?web_inicio"><img src="images/logo.png" /></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <h2 class="titulo-principal-interno titulo-principal-interno-tabs">PERFIL DE VOLUNTARIO</h2>
        </div>
        <div class="pull-right login-ob">
          <div class="div-login text-center">
            <div class="cont-login">
              <span class="tit-login text-uppercase">JORGE POMA GARCÉS</span>
              <a href="?web_inicio"><span class="close-sesion text-right">Cerrar Sesión</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="cont-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contenedor-input">
        <div class="col-xs-12 nopadding detail-container">
          <div class="row top-row">
            <div class="tabs-container">
              <ul class="nav nav-tabs topabsolute">
                <li class="active"><a>PERFIL</a></li>
                <li><a href="?web_visualizar_historial">HISTORIAL</a></li>
                <li><a href="?web_visualizar_gestiongrupo">GRUPO VER</a></li>
              </ul>
              <div class="tab-content">
                <div id="perfil" class="tab-pane fade in active">
                  <div class="row top-row margin-top">
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span><b>José Carlos Barrantes Orosco</b></span>
                        <span>Voluntario General</span>
                        <span>Activado</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Fecha de registro</span>
                        <span>05-01-2016</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Fecha de nacimiento : 10-01-1984</span>
                        <span>Provincia de Lima</span>
                        <span>Departamento de Lima</span>
                      </div>
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>D.N.I : 70587679</span>
                        <span>Estudios / Profesion : Ingeniero</span>
                        <span>Email : jbarrantes@gmail.com</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Teléfono : 342 5672</span>
                        <span>Skype : jose.barrantes80</span>
                        <span>Grupo Sanguineo : RH+</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Domicilio : Calle Andrómeda 1082</span>
                        <span>Distrito de Chorrillos</span>
                        <span>Gobierno regional de lima</span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Grupo Ver
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Grupo Apurimac</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Perú</span>
                        <span>teléfono : 342 5672</span>
                      </div>
                      <div class="col-xs-4">
                        <span>www.apurimakperu.com</span>
                        <span class="pull-right sky-color">
                          <div class="btn_afiliaciones">
                          <a type="button" class="btn btn-default btn_orange btn_aceptarAfiliacion">ACEPTAR AFILIACIÓN</a>
                          <div class="clearfix"></div>
                          <a type="button" class="btn btn-default btn_orange btn_rechazarAfiliacion">RECHAZAR AFILIACIÓN</a>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Especialidad
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Bachiller</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Instituto Naval de Lima</span>
                      </div>
                      <div class="col-xs-4">
                        <span>30 de Diciembre del 2013</span>
                        <span class="pull-right sky-color"><a><em>descargar certificado</em></a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Capacitación en gestión del riesgo (opcional)
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Curso de primeros auxilios</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Instituto Naval de Lima</span>
                      </div>
                      <div class="col-xs-4">
                        <span>05 de Agosto del 2013</span>
                        <span>50 horas</span>
                        <span class="pull-right sky-color"><a><em>descargar certificado</em></a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Experiencia como voluntario/a (opcional)
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Voluntarios de la cruz roja</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Lima</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>Jefe de Área</span>
                        <span>Abril 2013 - Julio 2014</span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Actividades Físicas
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-4 nopadding dis-blo">
                        <span>Voluntarios de la cruz roja</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>3 veces a la semana</span>
                      </div>
                      <div class="col-xs-4 dis-blo">
                        <span>8 horas diarias</span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Motivos por los que deseo ser brigadista en voluntariado en emergencias y rehabilitación
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-12 salto nopadding dis-blo">
                        <span>Personales</span>
                      </div>
                      <div class="col-xs-12 salto nopadding dis-blo">
                        <span>Actividad 1</span>
                      </div>
                    </div>
                  </div>
                  <div class="row top-row">
                    <div class="sub-tit-2-dis">
                      Apreciación
                    </div>
                    <div class="col-xs-12 nopadding salto">
                      <div class="col-xs-12 salto nopadding dis-blo">
                        <span class="comentario-block">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de</span>
                      </div>
                      <div class="col-xs-4 salto nopadding dis-blo">
                        <span>Fecha : 06-01-2016</span>
                        <span>Nombre y Apellido : Jorge Aspaza Goméz</span>
                        <span>Cargo : Jefe de voluntarios</span>
                      </div>
                      <div class="col-xs-12 salto nopadding dis-blo">
                        <span class="comentario-block">
                        Actividades seleccionadas : Natación, atletismo, primeros auxilios.
                      </div>
                      </div>
                    </div>
                    <div class="row btnform">
                          <div class="col-xs-12 text-center">
                              <button class="btn btn-default btn-enviar" onclick="parent.location='?web_inicio'" type="button">ACTUALIZAR PERFIL</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <section class="footer-interno">
    <div class="container">
      <footer class="logindiv">
        <span class="small pull-right">© 2015 indeci</span>
                        </footer>
                      </div>
</section>
</section>
